.header-container {
    width: 100%;
    margin: 0 auto;
    align-items: center;
    background-color: white;
    color: rosybrown;
    height: ;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}
.header-wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rosybrown;
    /* box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1); */
    padding: 0.3rem 0;
}
.brand {
    font-size: 1.5rem;
    font-weight: 700;
    color: rosybrown;
    text-decoration: none;
    text-transform: uppercase;
}
.header-wrapper .brand-name{
    display: inline-block;
}
li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rosybrown !important;
    transition: all 0.8s ease;
}
li a:hover {
    background-color: rgb(215, 184, 184) !important;
    color: white !important;
}
.badge{
    background-color: white;
    color: red !important;
    padding: 0.2rem 0.5rem;
    border-radius: 50%;
    font-size: 0.8rem;
    margin-left: 0.5rem;
}
.right-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px
}
.mobile-menu-wrapper {
    display: none;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-items: flex-start;
    
}
/* .profile-dropdown {
    background-color: black;
    color: whitesmoke;
} */
/* @media  screen and (max-width: 400px) {
    .brand-name{
        display: hidden;
    }
} */
@media screen and (max-width: 460px) {
    .header-wrapper {
        width: 90%;
    }
    .brand {
        font-size: 1.2rem !important;
    }
    .header-wrapper .brand .brand-name {
        display: none !important;
    }
    .menu, .right-menu{
        display: none;
    }
    .header-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 10px;
        margin-top: 10px;

    }
    .mobile-menu-wrapper {
        display: flex;
        align-items: flex-end;
        
    }
    .mobile-menu{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-direction: column;
        gap: 10px;
    }
}
