.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  min-width: 80%;
  background-color: white;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 4rem;
  margin-bottom: 5rem;
  
}
.d-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}
.d-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.d-col-left{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.d-col-right{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.btns{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    margin-top: 1rem;
}
.d-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: olivedrab;
    color: white;
    /* font-size: 1rem; */
    cursor: pointer;
    transition: 0.3s;
}
.d-btn-cancel{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: rgb(234, 103, 22);
    color: white;
    /* font-size: 1rem; */
    cursor: pointer;
    transition: 0.3s;
}
.d-btn-review{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: rgb(70, 140, 232);
    color: white;
    /* font-size: 1rem; */
    cursor: pointer;
    transition: 0.3s;
}
.d-toggle{
    cursor: pointer;
    margin-right: 10px;
}
.d-toggle:hover{
    color: olivedrab;
}
.myli{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row !important;
    gap: 10px;
   
  
    margin-top: 0.5rem;
    transition: 0.3s;
}
.msgs{
    gap: 10px
}
.form-container-modal{
    flex-direction: column !important;; 
    width: 100%;
}
.booking-item{
    background-color: white !important;
    cursor: pointer;
}
.booking-item:hover{
    background-color: #f5f5f5 !important;
}
