.form-container {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  /* gap: 15px; */
  margin-top: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.left-pane {
  display: flex;
  width: 50%;
  height: auto;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  justify-content: space-around;
  gap: 15px;
  /* background-color: black; */
  padding: 2rem;
}

.right-pane {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  justify-content: center;
  align-items: center;
  height: auto;
  gap: 15px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  margin-right: 0rem;
  padding: 2rem;
}

.frm-rw {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
  width: 100%;
}

.frm-rw2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 15px;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 50%%;
  overflow: hidden;
  /* Ensure the image doesn't overflow */
  object-fit: cover;
}

.img-container img {
  width: 80%;
  /* Let the width adjust automatically */
  height: 80%;
  /* Let the height adjust automatically */
  max-width: 100%;
  /* Ensure the image doesn't exceed the container width */
  max-height: 100%;
  /* Ensure the image doesn't exceed the container height */
  /* object-fit: cover; Maintain aspect ratio and cover the container */
}

.google-login {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  margin-left: 20px;
}

.search-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: whitesmoke !important; */
  color: rgb(228, 225, 225) !important;
}

.msg {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.success {
  color: green;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
.left-p{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  width: 50%;
  /* background-color: black; */
  padding: 2rem;
}
.right-p{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  margin-right: 0rem;
  padding: 2rem;
  width: 50%;
}
.searchy2{
  width: 100%;
}
@media screen and (max-width: 460px) {
  .form-container {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* gap: 15px; */
    /* margin-top: 2rem; */
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .left-pane {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    justify-content: space-around;
    /* background-color: black; */
  } 
  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 180%;
    min-width: 180%;
    /* overflow: hidden; */
    /* Ensure the image doesn't overflow */
    object-fit: cover;
    /* background-color: aqua; */
    padding-bottom: 0 !important;

  }
  .img-container img {
    width: 100%;
    /* Let the width adjust automatically */
    height: 100%;
    /* Let the height adjust automatically */
    max-width: 100%;
    /* Ensure the image doesn't exceed the container width */
    max-height: 100%;
    /* Ensure the image doesn't exceed the container height */
    /* object-fit: cover; Maintain aspect ratio and cover the container */
  }
  .right-pane2{
    display: none;
  }
  .frm{
    padding: 20px;
  }
  .frm-rw {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
    width: 200%;
  }
  .frm-rw2 {
    display: flex;
    width: 160%;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 15px;
  }
}
