.app-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 150vh !important;
    /* width: 100%; */
    height: auto;
    background-color: whitesmoke;
    color: rgb(92, 90, 90);
    font-family: 'Raleway', sans-serif;
    /* position: relative; */
    position: relative;
}
.home-wrapper{
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    /* width: 80%; */
    align-items: center;
    justify-content: center;
    color: rgb(92, 90, 90);
    font-family: 'Raleway', sans-serif;
    /* position: relative; */
    margin: 0 auto;
    background-color: white;
    padding: 1.5rem 0;
    min-height: 100vh !important;
}
.searchy{
    width: 90%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    background-color: rgb(66, 63, 63);
    color: white;
    border-radius: 20px;
}
.hr {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Example width */
    margin: 0 auto;
    
  }
.date-picker{
    width: 100%;
}
.cars-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.2rem;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
    height: auto;
}
.bb{
   
}
.search-btn{
    /* background-color: rgb(66, 63, 63); */
    color: white;
    border: none;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.filtered-info{
    background-color: rgb(11, 165, 59);
    height: 25px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    margin: 10px;
    padding: 0;
    border-radius: 15px;
}
.filtered-info h6{
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;

}
